<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} Weather</title>
    <!-- Google tag (gtag.js) -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-R7WDBM1VHF"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());

      // Basic GA4 config
      gtag("config", "G-R7WDBM1VHF", { send_page_view: false });

      // ✅ Explicit page_view event
      gtag("event", "page_view", {
        page_title: document.title,
        page_location: window.location.href,
        page_path: window.location.pathname,
      });
    </script>

    <link
      href="{{url_for('static',filename='styles/style.css')}}"
      rel="stylesheet"
    />
    <!-- Google tag (gtag.js) -->
  </head>

  <body>
    <h1>{{ title }} Weather</h1>
    <p>{{ status }} and {{ temp }} &deg;</p>
    <p>Feels like {{ feels_like }} &deg;</p>

    <form action="/weather">
      <input type="text" name="city" id="city" placeholder="Enter City:" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
